/* User Story #13: The navbar should always be at the top of the viewport.

User Story #14: My product landing page should have at least one media query.

User Story #15: My product landing page should utilize CSS flexbox at least once. */

a {
    text-decoration-line: none;
}

h2 {
    margin-bottom: 1%;
}

p {
    margin-top: 1%;
}
#header {
    display: inline-flex;
}

#header-img {
    width: 25%;
    height: 3rem;
}

#nav-bar {
    display: inline-flex;
    position: fixed;
    right: 2%;
}

.nav-link {
    
    list-style-type: none;
    text-decoration-style: none;
    margin: 1rem;
    padding: 1rem;
      
}

.page {
    text-align: center;
    margin: 4% 20%;
}

#feature-section {
    text-align: left;
    padding-top: 10%;
    line-height: 1rem;
    display: grid;
}

#footer {
    display: flex;
    background-color: lightgrey;
    height: 10rem;
    width: 100%;
}

/* pricing */

* {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }